.col-sm-6{
	right: -100px;
}

.Sidebar {
	position: absolute;
	margin-left: 1336px;
	margin-top: -317px;
	text-align: right;

}
.comments {
	background-color: grey;
	color: white;
	width: 300px;
	height: auto;
	border-color: black;
	border-radius: 10px;
	border-style: solid;


}
strong{
	color: black;
}